{% extends 'base.html' %}

{% block head %}
<title>FootyPedia - Club {{ id }}</title>
<link href="../static/css/club.css" rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block body %}
{{ club }}
<div class="d-flex container " style="align-items: flex-start;">

    <div class="d-flex flex-column p-3 bg-light w-25 ">
        <h1 class="m-auto">{{club_name}}</h1>
        <hr>

        <div class="d-flex m-auto " style="width: 200px; height: 200px; justify-content: center">
            <img src={{club_info[4]}} class="m-auto" style="width: auto; height: 200px; object-fit: cover;" />
        </div>

        <div style="margin-top: 20px">
            <div class="bio bio-line">
                <span>Name</span>
                {{club_info[2]["Nome"][0]}}
            </div>

            <div class="bio bio-line">
                <span>President</span>
                {{club_info[2]["Presidente"][0]}}
            </div>

            <div class="bio bio-line">
                <span>Nicknames</span>
                {{club_info[2]["Alcunhas"][0]}}
            </div>

            <div class="bio-line row">

                <div class="bio col-6">
                    <span>Started</span>
                    {{club_info[2]["Ano de Funda\u00e7\u00e3o"][0]}}
                </div>

                <div class="bio col-6">
                    <span>City</span>
                    {{club_info[2]["Cidade"][0]}}
                </div>

            </div>
            <div class="bio-line row">

                <div class="bio col-6">
                    <span>Federation</span>
                    {{club_info[2]["Associa\u00e7\u00e3o"][0]}}
                </div>

                <div class="bio col-6">
                    <span>Country</span>
                    {{club_info[2]["Pa\u00eds"][0]}}
                </div>

            </div>

            <div class="bio-line row">

                <div class="bio col-6">
                    <span>Ranking UEFA</span>
                    {{club_info[2]["Rankings"][0]}}
                </div>

                <div class="bio col-6">
                    <span>Ranking IFFHS</span>
                    {{club_info[2]["Rankings"][1]}}
                </div>

            </div>

            <div class="bio bio-line">
                <span>Address</span>
                {{club_info[2]["Morada"]}}
            </div>

            <div class="bio bio-line">
                <span>Site</span>
                <a href="{{club_info[2]['Site Oficial'][0]}}">{{club_info[2]["Site Oficial"][0]}}</a>
            </div>

            <div class="bio bio-line">
                <span>Email</span>
                {{club_info[2]["E-mail"][0]}}
            </div>

        </div>


    </div>

    <div class="d-flex flex-column bg-light align-items-center flex-fill ms-5 p-5">
        <h2>This Season</h2>

        <table class="table table-hover table-sm">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Competition</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="colr">D</th>
                    <th scope="col">DG</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in club_info[1].items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value[0]}}</td>
                    <td>{{value[1]}}</td>
                    <td>{{value[2]}}</td>
                    <td>{{value[3]}}</td>
                    <td>{{value[4]}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <hr>

        <h2>Plantel</h2>

        {% for pos,players in club_info[0].items() %}

        <div class="position m-3" style="text-align: start">
            {{pos}}
        </div>
        {% for i in range(ceiling(players|length, 3))%}

        <div class="d-flex container justify-content-between mt-2">
            {% for index in range(i*3, [players|length,i*3+3]|min)%}
            <div class="d-flex flex-row ">
                <div class="player-number">
                    {{players[index][0]}}
                </div>
                <div class="d-flex m-auto " style="width: 50px; height: 50px; justify-content: center">
                    <img src="https://static-img.zz.pt/jogadores/53/526053_20220817115014_zaidu_sanusi.png"
                        class="m-auto" style="width: auto; height: 50px; object-fit: cover;" />
                </div>
                <div class="player-name">
                    {{players[index][1]}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        {% endfor %}


        <h2 class="mt-5">Títulos</h2>

        <table class="table table-hover table-sm table-borderless">
            <thead class="bg-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Número</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in club_info[3].items()%}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <hr>


    </div>

</div>
{% endblock %}