{% extends 'base.html' %}

{% block head %}
    <title>FootyPedia - Home</title>
    <link href="../static/css/index.css" rel="stylesheet" crossorigin="anonymous">
{% endblock %}



{% block body %}
    <section class="intro">
        <div class="bg-image-vertical h-100" style="background-color: #a3eba9;
            background-image: url(../static/messi.jpg);
          ">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <p class="display-4 font-weight-bold mb-5 text-dark">FootyPedia</p>
                    <div class="card">
                        <div class="card-body">
                            <form action="/results" method="GET">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3 mb-md-0">
                                        <div id="basic" class="form-outline">
                                            <input type="text" id="search_string" class="form-control form-control-lg"
                                                   name="query"/>
                                            <label class="form-label" for="form1">What are you looking for?</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="dropdown">
                                            <a class="btn btn-light btn-rounded btn-lg btn-block dropdown-toggle"
                                               href="#"
                                               role="button" id="categoryDropdown" data-mdb-toggle="dropdown"
                                               aria-expanded="false">
                                                Any
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                                                <li>
                                                    <a class="dropdown-item category-item" type="button"
                                                       data-category="Any">Any</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item category-item" type="button"
                                                       data-category="Player">Player</a>
                                                </li>
                                                <li><a class="dropdown-item category-item" type="button"
                                                       data-category="Team">Team</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item category-item" type="button"
                                                       data-category="League">League</a>
                                                </li>
                                            </ul>
                                            <input type="hidden" id="category_input" name="category_input"
                                                   value="any">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="btn btn-secondary btn-block btn-lg" type="submit" value="Search"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}

{% block jsinclude %}
    <script src="../static/js/index.js" async defer></script>
    <script>
        const category_items = document.getElementsByClassName("category-item")
        const category_hidden_input = document.getElementById("category_input")
        const category_dropdown = document.getElementById("categoryDropdown")
        if (category_items) {
            for (const categoryItem of category_items) {
                categoryItem.addEventListener("click", () => {
                    category_hidden_input.value = categoryItem.dataset.category
                    category_dropdown.innerText = categoryItem.dataset.category
                })
            }
        }
    </script>
{% endblock %}