{% extends 'base.html' %}

{% block head %}
<title>FootyPedia - League {{id}}</title>
{% endblock %}

{% block body %}
<div class="d-flex container " style="align-items: flex-start;">

    <div class="d-flex flex-column p-3 bg-light w-25 ">
        <h1 class="m-auto">Liga</h1>
        <h1 class="m-auto">Portugal bwin</h1>
        <hr>

        <div class="d-flex m-auto " style="width: 200px; height: 200px; justify-content: center">
            <img src="https://www.zerozero.pt/img/logos/edicoes/156405_imgbank_.png" class="m-auto"
                style="width: auto; height: 200px; object-fit: cover;" />
        </div>

    </div>

    <div class="d-flex flex-column bg-light align-items-center flex-fill ms-5 pb-5 ps-5 pe-5 pt-2">

        <!-- Pills navs -->
        <ul class="nav nav-pills nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab"
                    aria-controls="ex1-pills-1" aria-selected="true">Table</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab"
                    aria-controls="ex1-pills-2" aria-selected="false">Games</a>
            </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content" id="ex1-content" style="width:100%">
            <div class="tab-pane fade show active align-items-center" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <h2 style="text-align: center">Classification</h2>

                <table class="table table-hover table-sm" >
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" style="width: 5%"></th>
                            <th scope="col" style="width: 25%"></th>
                            <th scope="col" style="width: 8.75%">P</th>
                            <th scope="col" style="width: 8.75%">J</th>
                            <th scope="col" style="width: 8.75%">V</th>
                            <th scope="col" style="width: 8.75%">E</th>
                            <th scope="col" style="width: 8.75%">D</th>
                            <th scope="col" style="width: 8.75%">GM</th>
                            <th scope="col" style="width: 8.75%">GS</th>
                            <th scope="col" style="width: 8.75%">DG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Benfica</td>
                            <td>37</td>
                            <td>13</td>
                            <td>12</td>
                            <td>1</td>
                            <td>0</td>
                            <td>37</td>
                            <td>7</td>
                            <td>+30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <h2 style="text-align: center;">Games</h2>

                <table class="table table-hover table-sm text-center table-striped">
                    <thead class="bg-light" >
                        <tr>
                            <th scope="col" class="text-center" style="width: 10%">Date</th>
                            <th scope="col" class="text-center" style="width: 10%">Time</th>
                            <th scope="col" class="text-center" style="width: 35%">Home</th>
                            <th scope="col" class="text-center" style="width: 10%">FT</th>
                            <th scope="col" class="text-center" style="width: 35%">Away</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                        <tr>
                            <td>05/08/2022</td>
                            <td>20:15</td>
                            <td>Benfica</td>
                            <td>4-0</td>
                            <td>Arouca</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pills content -->


    </div>

</div>
{% endblock %}