.bio span {
font: 700 10px 'Roboto Condensed', Helvetica, Arial, Verdana, sans-serif;
color: #8090A0;
letter-spacing: 0.04em;
display: block;
text-transform: uppercase;
}

.bio-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.player-number {
    width: 34px;
    font: 400 30px 'Roboto', Helvetica, Arial, Verdana, sans-serif;
    color: #8090A0;
    text-align: center;
    margin:auto
}

.player-name {
    font: 400 25px 'Roboto', Helvetica, Arial, Verdana, sans-serif;
    color: #49525c;
    text-align: center;
    margin:auto
}

.position {
    font: 400 14px 'Roboto Condensed', Helvetica, Arial, Verdana, sans-serif !important;
    padding: 0px 0px 4px 0px !important;
    margin: 4px 0px 0px 0px !important;
    color: #39C !important;
    text-transform: uppercase;
  }